---
import Meta from './Meta.astro'
import GtmHeadDev from './GtmHeadDev.astro'
import GtmBodyDev from './GtmBodyDev.astro'
import GtmHeadProd from './GtmHeadProd.astro'
import GtmBodyProd from './GtmBodyProd.astro'

const {
  description: descriptionP,
  image: imageP,
  keywords: keywordsP,
  title: titleP,
  type: typeP,
  url: urlP,
  bodyClass,
} = Astro.props
const isProd = import.meta.env.PROD
---

<html lang="en">
  <head>
    <title>
      {titleP}
    </title>

    <link
      rel="stylesheet"
      href={Astro.resolve("../styles/global.css")}
    >

    <Meta
      description={descriptionP}
      image={imageP}
      keywords={keywordsP}
      title={titleP}
      type={typeP}
      url={urlP}
    />

    {isProd ? (<GtmHeadProd />) : (<GtmHeadDev />)}
  </head>
  
  <body class={bodyClass}>
		<slot />
  </body>
</html>
